
/*Mise en page des images dans Dernière image*/
#last ul 
{
	display:flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	
}
#last ul li
{
	display: inline-flex;
	padding-right: 5px;

}
#last img
{
	width: 300px;
	border-radius: 15px;
	position: relative;
	
}
#last p
{
	position: absolute;
	text-align: center;
	transition:opacity 0.8s;
	color: white;
	font-family: 'quicksand';
	font-size: 40px;
	
}


.title01
{
	opacity: 0;
	left: 0px;
	top: 0px;	
}

li.conteneur01:hover .title01 
{
	transition: all 0.8s;
	opacity: 1;
	
}
/*---------*/
/*Mise en page des images dans Objets*/
#objets ul
{
	display:flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#objets ul li
{
	display: inline-flex;
	padding-right: 5px;	
}

h1
{
	text-align: center;	
	font-weight: bold;
	font-size: 40px;
	
}
p
{
	font-size: 25px;
	text-align: center;
}

#Titre_sep1
{
	background: rgba(250, 250, 250, 0.85);
	padding-bottom: 5px;
}
#Titre_sep2
{
	background: rgba(250, 250, 250, 0.85);
	padding-bottom: 5px;
	position: relative;
	
}
.saturne
{
	position: absolute;
	right: 360px;
    top: 5px;
}
.jupiter
{
	position: absolute;
	left: 364px;
    top: 10px;
}



#objets img
{
	width: 300px;
	border-radius: 15px;
	position: relative;
	
}
/*----------*/

/* Animation texte objets*/
/*Initialisation*/
#objets p
{
	position: absolute;
	text-align: center;
	transition:opacity 0.8s;
	color: white;
	font-family: 'quicksand';
	font-size: 40px;
	
}

li
{
	position: relative;
}
/* Animation de chaque texte des objets*/
.title1
{
	opacity: 0;
	left: 22px;
	top: 70px;	

	
}

li.conteneur1:hover .title1 
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title2
{
	opacity: 0;
	left: 105px;
	top: 70px;	

	
}

li.conteneur2:hover .title2 
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title3
{
	opacity: 0;
	left: 95px;
	top: 70px;	

	
}

li.conteneur3:hover .title3
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title4
{
	opacity: 0;
	left: 105px;
	top: 70px;	

	
}

li.conteneur4:hover .title4 
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title5
{
	opacity: 0;
	left: 75px;
	top: 70px;	

	
}

li.conteneur5:hover .title5
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title6
{
	opacity: 0;
	left: 105px;
	top: 70px;	

	
}

li.conteneur6:hover .title6 
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title7
{
	opacity: 0;
	left: 105px;
	top: 70px;	

	
}

li.conteneur7:hover .title7 
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title8
{
	opacity: 0;
	left: 105px;
	top: 70px;	

	
}

li.conteneur8:hover .title8
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title9
{
	opacity: 0;
	left: 15px;
	top: 60px;	

	
}

li.conteneur9:hover .title9 
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title10
{
	opacity: 0;
	left: 50px;
	top: 70px;	

	
}

li.conteneur10:hover .title10
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title11
{
	opacity: 0;
	left: 90px;
	top: 70px;	

	
}

li.conteneur11:hover .title11 
{
	transition: all 0.8s;
	opacity: 1;
	
}
.title12
{
	opacity: 0;
	left: 15px;
	top: 60px;	

	
}

li.conteneur12:hover .title12 
{
	transition: all 0.8s;
	opacity: 1;
	
}

/*---------*/

@media screen and (max-width: 1024px)
{
.saturne
{	
	right: 180px;
	width: 100px;
    
}
.jupiter
{	
	left: 180px;   
	width: 100px; 
}

h1
{
	font-size: 80px;
	
}

p
{
	font-size: 50px;
}

#last img
{
	width: 450px;
}
#objets img
{
	width: 450px;
]





}


